---
import { getHosts } from "@lib/data";
import Layout from "@layouts/Layout.astro";

const hosts = await getHosts();
---

<Layout title="Lesehesten">
  <main>
    <h1>Hosts</h1>

    <ul>
      {
        hosts.map((host) => (
          <h2>
            <a href={`/host/${host.slug}`}>{host.name}</a>
          </h2>
        ))
      }
    </ul>
  </main>
</Layout>
